  /* .app {
    display: flex;
    min-height: 100vh;
  }

  .dashboard-content {
    padding: 20px 30px;
    flex: 1;
  }
   */
  .dashboard-content{
    height: 90vh;
    overflow-y: scroll;
    padding: 20px 30px;
    flex: 1;
    font-family: 'Inter';
  }