.action-popup-container{
    position: relative;
    .dots{
        /* background-color: pink; */
        font-size: 20px;
        text-align: center;
    }
    .action-popup-wrapper{
        position: absolute;
        /* left: -70px; */
        left: -100px;
        top: -60px;
        /* top: 0; */
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background-color: white;
        z-index: 999;
        .actions-icon{
            padding: 12px 20px;
            display: flex;
            align-items: center;
            cursor: pointer;
            gap: 5px;
            font-weight: 500;
            color: #717680;
        }
        .actions-icon:hover{
            background-color: rgb(237, 237, 237);
            color: #2f2f2f;
        }
    }
    .task-action-popup-wrapper{
      left: -130px;
      top: -40px;  
    }
}