@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary-color: #1a73e8;
    --primary-light: #e8f0fe;
    --secondary-color: #f1f3f4;
    --text-color: #3c4043;
    --text-secondary: #70757a;
    --border-color: #dadce0;
    --event-blue: #4285f4;
    --event-green: #0f9d58;
    --event-red: #db4437;
    --event-yellow: #f4b400;
    --event-purple: #a142f4;
    --event-turquoise: #0f9d9d;
    --event-orange: #ff6d01;
    --event-pink: #e67c73;
  }