.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

    .require{
      color: red;
    }

  }
  
  .event-modal {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px;
    max-height: 90vh;
    overflow-y: auto;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid var(--border-color);
  }
  
  .modal-header h2 {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
  }
  
  .close-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: var(--text-secondary);
  }
  
  .form-group {
    margin-bottom: 16px;
    padding: 0 16px;
  }

  .form-group-checkbox{
    /* display: flex; */
  }

  .form-group-2{
    display: flex;
    align-items: center;
    gap: 8px;
    max-width: fit-content;
    .checkbox-text{
      text-wrap: nowrap;
    }
  }
  
  .form-row {
    display: flex;
    gap: 16px;
    padding: 0 16px;
  }
  
  .form-row .form-group {
    flex: 1;
    padding: 0;
  }
  
  .form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-size: 14px;
  }
  
  .title-input {
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-bottom: 1px solid var(--border-color);
    border-radius: 0;
    padding: 8px 0;
    margin-bottom: 8px;
  }
  
  .title-input:focus {
    outline: none;
    border-bottom-color: var(--primary-color);
  }
  
  label {
    display: block;
    margin-bottom: 4px;
    font-size: 14px;
    color: var(--text-secondary);
  }
  
  .modal-footer {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border-top: 1px solid var(--border-color);
  }
  
  .modal-actions {
    display: flex;
    gap: 8px;
  }
  
  .btn-danger {
    background-color: white;
    color: #d93025;
    border: none;
  }
  
  .btn-danger:hover {
    background-color: rgba(217, 48, 37, 0.08);
  }